<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" th:src="@{static/jquery-3.2.1.min.js}"></script>
</head>

<script type="text/javascript">
	/* $(document).ready(function() {
		ajaxSubmit();
	}); */

	function ajaxSubmit() {
		$.ajax({
			url : "/convert",
			type : "POST",
			contentType : "application/gongjian",
			data : "1-xxxxx",
			success : function(data) {
				console.log(data);
			},
			error : function(XMLHttpRequest, textStatus, errorThrowns) {
				console.log("XMLHttpRequest == ", XMLHttpRequest);
			}
		});
	}
</script>

<body>
	<input type="button" value="Submit" onclick="ajaxSubmit()"/>
</body>
</html>